<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>LapTrinhWeb2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckLoginServlet</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>controller.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/CheckLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>controller.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductListServlet</display-name>
    <servlet-name>ShowProductListServlet</servlet-name>
    <servlet-class>controller.ShowProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductListServlet</servlet-name>
    <url-pattern>/ShowProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>controller.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCreateProductServlet</display-name>
    <servlet-name>ShowCreateProductServlet</servlet-name>
    <servlet-class>controller.ShowCreateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCreateProductServlet</servlet-name>
    <url-pattern>/ShowCreateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateProductServlet</display-name>
    <servlet-name>CreateProductServlet</servlet-name>
    <servlet-class>controller.CreateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProductServlet</servlet-name>
    <url-pattern>/CreateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowModifyProductServlet</display-name>
    <servlet-name>ShowModifyProductServlet</servlet-name>
    <servlet-class>controller.ShowModifyProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowModifyProductServlet</servlet-name>
    <url-pattern>/ShowModifyProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyProductServlet</display-name>
    <servlet-name>ModifyProductServlet</servlet-name>
    <servlet-class>controller.ModifyProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyProductServlet</servlet-name>
    <url-pattern>/ModifyProductServlet</url-pattern>
  </servlet-mapping>
</web-app>